<script>
  import { blur } from "svelte/transition";
  import { onMount } from "svelte";
  let txtarea = false;
  let editor;

  import {
    wpm,
    cpm,
    reset_wpm,
    keypress,
    keydown,
    failingChars,
  } from "./keyboard_functions";

  function bindHelpdeskEditor() {
    console.log("binding editor");

    editor = jQuery(window.wswgEditor.getEditorDoc());
    console.log("trying to get editor, " + editor);
    editor.keypress(keypress);
    editor.keydown(keydown);

    console.log("mounted, using: " + editor);
  }

  onMount(() => {
    console.log("mounting");
    let commentField = document.querySelector("#txtNewComment");
    console.log("mounting: " + commentField);
    if (commentField != null) {
      commentField.onfocus = function () {
        bindHelpdeskEditor();
      };
    } else {
      // local development
      txtarea = true;
    }
  });

  let hovering = false;

  function enter() {
    hovering = true;
  }

  function leave() {
    hovering = false;
  }
  console.log("svelte loaded");
</script>

{#if txtarea == true}
  <textarea
    id="mytextarea"
    bind:this={editor}
    on:keypress={keypress}
    on:keydown={keydown}
    autofocus
  />
{/if}

<div on:click={reset_wpm} on:mouseenter={enter} on:mouseleave={leave}>
  {#if hovering == true && Object.keys($failingChars).length > 0}
    Failing keys:
    {#each Object.entries($failingChars) as [key, val]}
      {key} ({val}x),&nbsp;
    {/each}
  {:else}
    {$wpm ? "WPM: " + $wpm + " CPM: " + $cpm : ""}
  {/if}
</div>
